/adidas_stockx_url_list.txt
/jordan_stockx_url_list.txt
/nike_stockx_url_list.txt
/scaper_tg.py
/config/
/lib/
/adidas_data.txt
/adidas_data.csv
/geckodriver.log
/nike_data.csv
/nike_data.txt
/jordan_data.csv
/jordan_data.txt
/jordan_data_history.txt
/adi_data_history.txt
/nike_data_history.txt
